div.chart{
    font-family:sans-serif;
    font-size:0.7em;
}

div.bar {
    background-color:Blue;
    color:white;
    height:3em;
    line-height:3em;
    padding-right:1em;
    margin-bottom:2px;
    text-align:right;
    margin-left:22em;
}

div.label {
    height:3em;
    line-height:3em;
    padding-right:1em;
    margin-bottom:2px;
    float:left;
    width:20em;
    text-align:right;
}